@mixin input($bg: $white, $color: $dark-gray) {
  width: 100%;
  padding: 0.65em 0.75em;
  margin-bottom: 0;
  border: none;
  border-radius: 3px;
  background: $bg;
  color: $dark-gray;
  font-family: $typeface-sans;
  font-size: 0.875em;
  line-height: 1.25;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
  }
}
