.m-error-page {
  max-width: 25em;
  padding: 0 $page-gutter;
  margin: 3em auto;
  text-align: center;

  .error-page-logo {
    margin: 0 auto 2em;
    max-width: 10em;

    img {
      display: block;
      width: 100%;
    }

  }

  h3 {
    color: $teal;
  }

  p {
    color: $dark-gray;
  }

  [class*="btn"] {
    margin: 1em 0.5em;
  }

}
