.m-signup {
  padding: 1.5em 0;
  background: $grey;
  color: $dark-gray;

  form {
    margin: 0 auto;
    text-align: center;
  }

  input[type="text"],
  input[type="email"] {
    display: inline-block;
    max-width: 20em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }

  [class*="btn"] {
    margin-bottom: 0.5em;
  }

  .form-input-error {
    a { text-decoration: underline; }
  }

  .form-input-error,
  .form-input-suggestion {
    color: lighten($dark-gray, 20);
    font-size: 75%;
  }

  .signup-form-response {
    color: lighten($dark-gray, 10);
    font-family: $typeface-serif;
    font-weight: bold;
    text-align: center;
  }

  @include media-ie($breakpoint-desktop) {
    form {
      width: 75%;
    }
  }

  @include media-ie($breakpoint-large-screen) {
    form {
      width: 50%;
    }
  }

}
