// Get Started section
.m-start {
  background: $green;
  padding: 2em 0;

  textarea,
  input[type="tel"],
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background: darken($green, 5);
    color: lighten($green, 50);

    &:focus {
      box-shadow: none;
    }

  } // textarea, inputs

  .btn {
    @include btn(lighten($green, 50), $green);
  }

} // .m-start

// Get Started steps
.m-start-steps {
  @include row;
  counter-reset: getting-started-steps;
  list-style: none;
  margin-left: 0;
  border-bottom: 1px solid darken($green, 5);

  li {
    position: relative;
    min-height: 3em;
    padding-top: 0.5em;
    padding-left: 2em;
    margin-bottom: 1em;

    &:before {
      content: counter(getting-started-steps);
      counter-increment: getting-started-steps;
      position: absolute;
      left: 0;
      top: 0;
      font-family: $typeface-serif;
      font-size: 2.75em;
      font-weight: 600;
    }

    @include media(min-width $breakpoint-ipad max-width ($breakpoint-desktop - 1)) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($breakpoint-desktop) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media-ie {
      float: left;
      width: 33.333%;

      &.old-ie-alpha {
        clear: left;
      }

    } // @media-ie

  } // li

} // .start-steps

// Get Started form
.m-start-form {
  max-width: 25em;
  margin: 1em auto;

  form {
    @include row;
  }

  textarea {
    height: 12.5em;
  }

  [class*="btn"] {
    float: right;
  }

  .form-input-suggestion {
    color: lighten($green, 40);
  }

  .form-input-error {
    color: lighten($orange, 35);
  }

  .start-form-email {
    color: lighten($green, 40);
    font-size: 0.75em;
    font-style: italic;
    text-align: right;
  }

  .start-form-response {
    font-family: $typeface-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  @include media-ie($breakpoint-ipad) {
    max-width: 50em;
  }

} // .m-start-form
