.m-studio {
  padding: 2em 0;
  background: $light-grey;
  color: $dark-gray;

  .studio-description {
    margin-bottom: 1.5em;
  }

  @include media-ie($breakpoint-ipad) {

    .l-studio-team,
    .studio-description {
      @include span-columns(6);
    }

  } // @media-ie

} // .m-studio


// Team Member
.m-team-member {
  @include row;

  .team-member-avatar {
    border: 5px solid $grey;
    border-radius: 500px;
    @include transition (all 0.4s ease-in-out);

    img {
      display: block;
      width: 100%;
      border-radius: inherit;
    }

  } // .team-member-avatar

  .team-member-name {
    font-family: $typeface-serif;
    font-size: 1em;
    font-weight: bold;
  }

  .team-member-title {
    font-family: $typeface-serif;
    font-size: 0.625em;
    font-weight: normal;
    font-style: italic;
  }

  a {
    color: $dark-gray;
    @include transition (all 0.4s ease-in-out);
  }

  a:hover {
    color: darken($dark-gray, 15);

    .team-member-avatar {
      border-color: darken($grey, 10);
    }

  } // a:hover

} // .m-team-member
